/*------------
    BUTTONS
-------------*/
#ms-download-button:hover{
    box-shadow: 0px 0px 45px 2px #fff;
}

#ms-download-button:hover span{
    text-decoration: underline;
}

#ms-send-button:hover{
    text-decoration: underline;
    box-shadow: 0px 0px 20px 0px #1abc9c;
}

/*------------
SOCIAL ICONS
-------------*/
.ms-social-icon:hover{
    box-shadow: 0px 0px 9px 2px #fff;
}

/*-------------------------
HEADER - NAV ITEM
--------------------------*/
header .nav-item a:hover{
    text-decoration: underline;
}

/*-------------------------
FOOTER - ABOUT FREELANCER
--------------------------*/
footer #ms-team:hover{
    text-decoration: underline;
    cursor: pointer;
}