:root{
    --ms-header-color: #2c3e50; /*used for copyright too*/
    --ms-section-odd-color: #1abc9c;
    --ms-footer-color: #3a546d;
    --ms-menu-bars-color: #888888;
}

main section:nth-child(odd){
    background-color: var(--ms-section-odd-color);
}

/*-----------
    HEADER 
------------*/
header {
    background-color: var(--ms-header-color);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
}

header .ms-menu-barre{
    color: var(--ms-menu-bars-color);
    border: 1px solid #dddddd;
}

header .ms-header-nav ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

/*--------------
    MAIN SEC-1
---------------*/
main #ms-hero{
    color: white;
}

main #ms-hero #ms-hero__img{
    max-width: 15.625rem;
}

main #ms-hero #ms-hero__title{
    font-size: calc(8px + 3vw)
}

/*--------------
    MAIN SEC-2
---------------*/
main .ms-portfolio__bottom img{
    max-width: 100%;
    border-radius: 1.25rem;
}

/*--------------
    MAIN SEC-3
---------------*/
#ms-about{
    color: white;
}

/*--------------
    MAIN SEC-4
---------------*/
[class*="__contact-me"] {
    border-bottom: 1px solid #cccccc;
    padding-bottom: .9375rem;
    margin-bottom: .625rem;
}

/*------------
    FOOTER 
-------------*/
footer {
    background-color: var(--ms-footer-color);
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer span:nth-child(1){
    color: #1abc9c;
}

footer .ms-copyright {
    background-color: var(--ms-header-color);
}

/*------------
    BUTTON 
-------------*/
#ms-download-button{
    color: white;
    border: 1px solid white;
}

#ms-send-button{
    background-color: #1abc9c;
    color: white;
}

/*------------
    STARS 
-------------*/
.ms-star:before,
.ms-star:after{
    content: "";
    width: 12%;
    height: .125rem;
    background-color: white;
    display: inline-block;
    position: relative;
    top: -0.5rem;
    border-radius: 3.125rem;
}

#ms-portfolio .ms-star:before,
#ms-portfolio .ms-star:after{
    background-color: black;
}

#ms-about .ms-star i {
    color: white;
}



