:root{
    --ms-header-color: #2c3e50;
    --ms-section-odd-color: #1abc9c;
}

main section:nth-child(odd){
    background-color: var(--ms-section-odd-color);
}

/*-----------
    HEADER 
------------*/
header {
    background-color: var(--ms-header-color);
    color: white;
}

header .ms-header-nav ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header .ms-logo a,
header .ms-header-nav ul a{
    text-decoration: none;
    color: white;
}

/*--------------
    MAIN SEC-1
---------------*/
main #ms-hero{
    color: white;
}

main #ms-hero #ms-hero__img{
    max-width: 40%;
}

/*--------------
    MAIN SEC-2
---------------*/
main .ms-portfolio__bottom img{
    max-width: 100%;
}
/*------------
    FOOTER 
-------------*/