@import url("utilities.css");
@import url("effects.css");

:root{
    --ms-header-color: #2c3e50; /*used for copyright too*/
    --ms-section-odd-color: #1abc9c;
    --ms-footer-color: #3a546d;
    --ms-menu-bars-color: #888888;
}

/*-----------
    HEADER 
------------*/
header {
    background-color: var(--ms-header-color);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    box-shadow: -1px 0px 10px 1px #000000;
}

header .navbar-toggler{
    border: 1px solid ;
}

/*--------------
      MAIN
---------------*/
main section:nth-child(odd){
    background-color: var(--ms-section-odd-color);
}

/*--------------
    MAIN SEC-1
---------------*/
main #ms-hero #ms-hero__img{
    max-width: 15.625rem;
}

main #ms-hero #ms-hero__title{
    font-size: calc(8px + 3vw)
}

/*--------------
    MAIN SEC-2
---------------*/
main .ms-portfolio__bottom img{
    max-width: 100%;
    border-radius: 1.25rem;
}

/*--------------
    MAIN SEC-4
---------------*/
.ms-contact-me__bottom .form-control{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    cursor: pointer;
}

.ms-contact-me__bottom .form-control:focus{
border-color: inherit;
box-shadow: none;
background-color: #1abc9c
}

/*------------
    FOOTER 
-------------*/
footer {
    background-color: var(--ms-footer-color);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer span:nth-child(1){
    color: #1abc9c;
}

footer .ms-social-icon{
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}

footer .ms-copyright {
    background-color: var(--ms-header-color);
}



